<a href="https://colab.research.google.com/github/haneefmhmmd/dsml/blob/master/python/Loops_1_While_and_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# while lock_not_open:
#   keep trying

In [ ]:
pin = 123

comb = 0

while comb != pin:
  comb += 1 # comb = comb + 1

In [ ]:
# print numbers between 1 and 5 using while loop

i = 1

while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# take user input and print numbers from 1 to the user input

In [ ]:
N = int(input())
i = 1

while i <= N:
  print(i)
  i += 1

4
1
2
3
4

In [ ]:
# Take an input from the user for start and end values. Print all even numbers between them.

start = int(input())
end = int(input())

loop_count = 0
while start <= end:
  loop_count += 1
  if start % 2 == 0: # check for even numbers
    print(start)
  start += 1

print("My loop was run", loop_count, "times!")

10
20
10
12
14
16
18
20
My loop was run 11 times!

In [ ]:
# Take an input from the user for start and end values. Print all even numbers between them.

start = int(input())
end = int(input())

if start % 2 != 0: # check for odd numbers
  start += 1

loop_count = 0
while start <= end:
  loop_count += 1
  if start % 2 == 0: # check for even numbers
    print(start)
  start += 2

print("My loop was run", loop_count, "times!")

1
10
2
4
6
8
10
My loop was run 5 times!

In [ ]:
# Take an input from the user for start and end values. Print all even numbers between them.

start = int(input())
end = int(input())

if start % 2 != 0: # check for odd numbers
  start += 1

loop_count = 0 # keep track of # of times my loop runs
while start <= end:
  loop_count += 1
  if start % 2 == 0: # check for even numbers
    print(start)
  start += 2

print("My loop was run", loop_count, "times!")

2
10
2
4
6
8
10
My loop was run 5 times!

In [ ]:
x = 1
while x <= 100:
    if x % 3 == 0 and x % 5 == 0: # divisible by both 5 and 3 - 15, 30, 45, 60, 75, 90
        print("FizzBuzz")
    elif x % 3 == 0: # multiples of 3 - 3, 6, 9, 12, .....
        print("Fizz")
    elif x % 5 == 0: # multiples of 5 - 5, 10, 20, 25, ...
        print("Buzz")
    else:
        print(x)
    x += 1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
# A) FizzBuzz
# B) Fizz
# C) Buzz
# D) A combination of Fizz, Buzz, and/or integers

In [ ]:
# end and sep parameter
print("Hello", "World")

Hello World

In [ ]:
print("Hello", "World", "!!!!", sep='-')

Hello-World-!!!!

In [ ]:
print("Hello", "World", "!!!!", sep=' Hi ')

Hello Hi World Hi !!!!

In [ ]:
print("Hello", "World", "!!!!", sep=' Hi ', end = "Awesome")

Hello Hi World Hi !!!!Awesome

In [ ]:
print("Hi", end = " ")
print("Everyone")

Hi Everyone

In [ ]:
print("Hi", end = " ")
print("Everyone", end = "-")
print("!!!!!")

Hi Everyone-!!!!!

In [ ]:
# print all numbers between 1 and N in the same line

i = 1
N = int(input())

while i<=N:
  print(i, end = " ")
  i += 1

5
1 2 3 4 5

In [ ]:
print("Hello", "World", "!", sep = "      ")

Hello      World      !

for loops

In [ ]:
list(range(1, 5)) #start - (end-1)

[1, 2, 3, 4]

In [2]:
list(range(2, 8)) #start - (end-1)

[2, 3, 4, 5, 6, 7]

In [ ]:
list(range(1, 10, 2)) #start - (end-1)

[1, 3, 5, 7, 9]

In [ ]:
list(range(-9, -1)) #start - (end-1)

[-9, -8, -7, -6, -5, -4, -3, -2]

In [ ]:
list(range(-1, -9)) #start - (end-1)

[]

In [ ]:
list(range(-1, -9, -1)) #start - (end-1)

[-1, -2, -3, -4, -5, -6, -7, -8]

In [ ]:
list(range(-1, -9, -1)) #start - (end-1)

range(-1, -9, -1)

In [ ]:
list(range(1, 10, 2.0)) #start - (end-1)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
print(list(range(8, 8))) # 8 - 7

[]

In [ ]:
print(list(range(8, 9)))

[8]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# Calculate sum of all numbers starting from 1 to N using a for loop.

N = int(input())
sum = 0 # initialize the sum variable with 0

for i in range(N+1): # [0, 1, 2, 3, 4, 5]
  sum += i

print(sum)

5
0 0
1 0
2 1
3 3
4 6
5 10
15

In [ ]:
# Print all numbers from N to 1

for i in range(N, 0, -1):
  print(i)

5
4
3
2
1

In [ ]:
for i in range(N, 0):
  print(i)

In [ ]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [1,2,3,4]

In [ ]:
type(a)

list

In [ ]:
[1,2,3,4].count(1)

1

In [ ]:
list(range(-1, -9))

[]

In [ ]:
x = 3
if x > 2:
  x = x*2
if x > 4:
  x = 0
print(x)

0